<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/challenges">Challenges</a>
    <a routerLink="/profile">Profile</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/bmi-calculator">BMI Calculator</a>
    <a routerLink="/motivation">Motivation</a>
    <a routerLink="/tips">Health Tips</a>
    <a routerLink="/recipe">Recipe</a>
    <a routerLink="/exercise">Exercise</a>
    <a routerLink="/quiz">Quiz</a>
    <a routerLink="/stretch">Stretches Guide</a>
</nav>

<router-outlet></router-outlet>