<div class="profile-container">
<h2>Profile</h2>

<table border="1">
  <tr>
    <th>Field</th>
    <th>Details</th>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ user.name }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ user.email }}</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>{{ user.age }}</td>
  </tr>
  <tr>
    <td>Weight</td>
    <td>{{ user.weight }} kg</td>
  </tr>
  <tr>
    <td>Height</td>
    <td>{{ user.height }} cm</td>
  </tr>
  <tr>
    <td>Challenges Completed</td>
    <td>{{ user.completedChallenges }}</td>
  </tr>
</table>
</div>